{% extends 'layout.html' %}



{% block title %}


<title>About | Carlos García</title>

{% endblock title %}


{% block content %}

<main class="main main--about">
    <p class="main__about--p">I am a backend programming enthusiast. I fell in love with programming for what I believe were the wrong reasons
        but stayed for all the right reasons. It all started while I was doing a SEO freelance project and wanted to learn HTML and CSS in order 
        to improve my SEO abilities and ended buying "The Complete 2022 Web Development Bootcamp" course in Udemy. Then, I started learning python 
        in order to optimize a process in a previous work experience, by attempting to automate the completion of specific customer forms with Selenium 
        Webdriver using required data and information pulled from excel files which were organized with pandas.
    </p>
    <p class="main__about--p">
        I continued to learn Python parallelly while working as an Accounts Receivable specialist at Medtronic and then got the opportunity 
        to join Iron Mountain as a Strategic Planning Collector, with projects automating communication to customers using Python's STMPLib, 
        MySQL Databases, building HTML templates for the emails, and pandas for data organization. At this point, I was so in love with Python 
        that I'd always choose to stay home in order to learn and build projects with Django and Flask, rather than go out with friends. 
    </p>
    <p class="main__about--p">
        I ended up developing a hobby of reading about programming, backend development, cloud programming and cloud providers, as well 
        as buying courses on Udemy on topics that were of my interest. It was just the second month of learning Python and I already was 
        wishing a career in Software development.
    </p>


    <p class="main__about--p">
        It's been almost a year now learning Python and now I am interested in learning more about other backend languages such as Golang and Rust,
        with also learning Swift and Kotlin in order to build some personal projects, I am constantly thinking about how to optimize or what could benefit an app. Also, I recently took a big risk of leaving a company to persue my dreams of becoming a backend developer.
        I've been living out of my savings in order to study Python and build my portfolio with Django and Flask. As well as complement my backend development knowledge,
        by studying other languages and building projects in Go and Rust, Linux OS, deploying with AWS, Azure and GCP, focusing more on the first cloud provider, CI/CD, and serverless
        technologies like AWS Lambda.
    </p>

    <p class="main__about--p">
        I am a very fast learner, dedicated, respectful, and goal-oriented professional. I love being part of a team and always have found myself fitting in perfectly with my teammates.
        I am also a human being and if you are reading this I want to share with you something personal. I am afraid of the current times and the layoffs in tech, I know some could say this was the worst 
        time to pursue my dreams but deep inside I know I can be the exception in the study of "juniors only start being productive after 6 months" by tech companies. Programming is something I love and I do not wish to abandon, 
        I have been working hard in order to be a good backend developer and I am looking for a team and company that can nurture my knowledge and guide me to become the best programmer I can be, whether it is in Python, Go, Rust or any other language.
    </p>
</main>



{% endblock content %}
