{% extends 'layout.html' %}


{% block title %}
<title>Carlos García | Portfolio</title>
{% endblock title %}


<img src="../static/images/selfie.jpeg" alt="Carlos Garcia (me: want to be software developer)">


{% block content %}


<main class="main main--home">
    <section class="main__home--intro">
        <section class="main__home--content">
            <img class="main__home--selfiepic" src="../static/images/selfie.jpeg" alt="This is me. Carlos Garcia. Want to be programmer.">
            <section class="main__content--intro">
                <div class="main__content--intro1">Hello! My name is Carlos Garcia.</div>
                <div class="main__content--intro2">Welcome to my portfolio.</div>
                <div class="main__content--intro3">I am a Python backend developer.</div>
            </section>
        </section>
    </section>
    <section class="main__content--experience"></section>
</main>

{% endblock content %}
