<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}">
    {% block title %}
    <title>Carlos García | Portfolio</title>
    {% endblock title %}
</head>
<body>
    <header class="header">
        <a class="nav__link nav__link--main" href="{{ url_for('home') }}">Home</a>
        <nav class="nav">
            <a href="{{ url_for('projects') }}" class="nav__link {{ 'nav__link--active' if request.path == url_for('projects')}}">Projects</a>
            <a href="{{ url_for('about') }}" class="nav__link {{ 'nav__link--active' if request.path == url_for('about')}}">About</a>
            <a href="{{ url_for('contact') }}" class="nav__link {{ 'nav__link--active' if request.path == url_for('contact')}}">Contact me</a>
        </nav>
    </header>
    <main class="main">
        {% block content %}
        {% endblock content%}
    </main>
</body>
</html>