/* Use search "section name"--section to go to that styling */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* General Styling */


body {
    background-color: #a6bdc4;
}

h1 {
    font-weight: 900;
}

strong {
    font-weight: 700;
}


.sep {
    width: 80%;
    border: 0;
    height: 2px;
    background: #222222;
    margin: auto;
    background-image: linear-gradient(to right, #ccc, #222222, #ccc);
}

/* intro--section Styling */


.intro__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.intro__text--name {
    box-shadow: 0 3px 0 0 #97DECE;
}

.intro__container > * {
    margin: 1.5rem;
}

.typewriter {
    font-size: 2rem;
}

.scroll-down-arrow {
    left: 50%;
    bottom: 20px;
}


.animated {
    position: relative;
    animation: fadeInDown 2s infinite;
}

@keyframes fadeInDown {
    0% {
        top: -20px;
        opacity: 0;
    }
    100% {
        top: 10px;
        opacity: 1;
    }
}



/* about--section Styling */



.col__title {
    text-align: center;
    font-weight: 900;
    margin: 0 0 2rem 0;
}

.nav__link:not(.active) {
    color: #222222;
}

.nav__link:hover,
.active__tab {
    background-color: #222222;
    color: azure;
}

/* project--section Styling */

.project__title {
    text-align: center;
    font-weight: 900;
    margin: 2rem 0;
}

.button__project {
    background-color: azure;
    color: #222222;
}

.button__project:hover {
    background-color: #222222;
    color: azure;
}



/* recognition--section Styling */


.col__img {
    display: flex;
    justify-self: center;
}


/* contact--section Styling */


.contact__list {
    margin: 2rem;
}

.contact__link {
    text-decoration: none;
    color: #222222;
}

